<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dashboard sign up
            </div>
            <div class="panel-body">
                <form name="dashboardSignupForm" ng-submit="dashboardSignup()" novalidate autocomplete="off">
                    <div class="form-group">
                        <label for="username">Brugernavn</label>
                        <input ng-model="vm.user.username" type="text" class="form-control" id="username" name="username" placeholder="Indtast ønsket brugernavn" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input ng-model="vm.user.password" type="password" class="form-control" id="password" name="password" placeholder="Indtast ønsket password" required>
                    </div>
                    <div class="form-group">
                        <label for="signupToken">Sign up token</label>
                        <input ng-model="vm.signupToken" type="text" class="form-control" id="signupToken" name="signupToken" disabled required>
                    </div>
                    <button type="submit" class="btn btn-success">Opret bruger</button>
                </form>
            </div>
        </div>
    </div>
</div>
