<div class="panel" ng-class="{
    'panel-default': !vm.order.committed,
    'panel-info': vm.order.committed && !vm.order.confirmed,
    'panel-primary': vm.order.confirmed && !vm.order.completed,
    'panel-success': vm.order.completed && !vm.order.closed,
    'panel-warning': vm.order.closed
    }">
    <div class="panel-heading">
        <h3 class="panel-title">
            Ordre fra {{vm.order.createdOn | date: 'HH:mm:ss'}}
            <span class="label label-info" ng-show="vm.order.committed && !vm.order.confirmed">Indsendt</span>
            <span class="label label-primary" ng-show="vm.order.confirmed && !vm.order.completed">Konfirmeret</span>
            <span class="label label-success" ng-show="vm.order.completed && !vm.order.closed">Færdiggjort</span>
            <span class="label label-warning" ng-show="vm.order.closed">Lukket</span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="well clearfix">
            <div class="pull-left">
                <button type="submit" class="btn btn-danger" ng-click="vm.deleteOrder(vm.session._id, vm.order._id)">Slet ordre</button>
            </div>
            <div class="pull-right" ng-hide="vm.order.committed">
                <!--<button type="submit" class="btn btn-info" ng-click="vm.commitOrder(vm.session._id, vm.order._id)">Commit</button>-->
            </div>
            <div class="pull-right" ng-show="vm.order.committed && !vm.order.confirmed">
                <button type="submit" class="btn btn-primary" ng-click="vm.confirmOrder(vm.session._id, vm.order._id)">Konfirmer ordre</button>
                <button type="submit" class="btn btn-default" ng-click="vm.pullOrder(vm.session._id, vm.order._id)">Send ordre tilbage</button>
            </div>
            <div class="pull-right" ng-show="vm.order.confirmed && !vm.order.completed">
                <button type="submit" class="btn btn-success" ng-click="vm.completeOrder(vm.session._id, vm.order._id)">Færdiggør ordre</button>
                <button type="submit" class="btn btn-info" ng-click="vm.rejectOrder(vm.session._id, vm.order._id)">Afvis ordre</button>
            </div>
            <div class="pull-right" ng-show="vm.order.completed && !vm.order.closed">
                <button type="submit" class="btn btn-warning" ng-click="vm.closeOrder(vm.session._id, vm.order._id)">Luk ordre</button>
                <button type="submit" class="btn btn-primary" ng-click="vm.incompleteOrder(vm.session._id, vm.order._id)">Marker som ufærdig</button>
            </div>
            <div class="pull-right" ng-show="vm.order.closed">
                <button type="submit" class="btn btn-success" ng-click="vm.openOrder(vm.session._id, vm.order._id)">Åben ordre</button>
            </div>
        </div>
        <div class="list-group" ng-show="vm.order.dishes.length">
            <div class="list-group-item clearfix" ng-repeat="dish in vm.order.dishes">
                {{dish.name}}
                <div class="pull-right">
                    <button type="submit" class="btn btn-sm btn-danger" ng-click="vm.removeDishFromOrder(vm.session._id, vm.order._id, dish._id)">Fjern fra ordre</button>
                </div>
            </div>
        </div>
    </div>
</div>