<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Ordre fra {{vm.order.createdOn | date: 'HH:mm:ss'}}
            <order-labels></order-labels>
        </h3>
    </div>
    <div class="panel-body">
        <div class="well clearfix" ng-show="vm.order.pristine">
            <order-button-commit session-id="vm.session._id" order-id="vm.order._id"></order-button-commit>
        </div>
        <div class="well clearfix" ng-show="vm.order.committed">
            <order-button-pull session-id="vm.session._id" order-id="vm.order._id"></order-button-pull>
            <button type="submit" class="pull-right btn btn-success" ng-click="confirmOrder(vm.session._id, vm.order._id)">Konfirmér</button>
        </div>
        <div class="well clearfix" ng-show="vm.order.confirmed">
            <button type="submit" class="pull-left btn btn-default" ng-click="rejectOrder(vm.session._id, vm.order._id)">Afvis</button>
        </div>
        <div class="well clearfix" ng-show="vm.order.completed">
            <button type="submit" class="pull-left btn btn-default" ng-click="incompleteOrder(vm.session._id, vm.order._id)">Ufærdig</button>
            <button type="submit" class="pull-right btn btn-success" ng-click="serveOrder(vm.session._id, vm.order._id)">Servér</button>
        </div>
        <div class="well clearfix" ng-show="vm.order.served">
            <button type="submit" class="pull-left btn btn-default" ng-click="returnOrder(vm.session._id, vm.order._id)">Returnér</button>
        </div>
        <order-dishes></order-dishes>
        <order-info></order-info>
    </div>
</div>