<div class="row">
    <div ui-view>
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Opret menu
                </div>
                <div class="panel-body">
                    <form name="addMenuForm" ng-submit="addMenuForm.$valid && vm.addMenu(vm.menu)" novalidate>
                        <div class="form-group">
                            <label for="menuName">Navn</label>
                            <input type="text" id="menuName" name="menuName" class="form-control" ng-model="vm.menu.name" placeholder="Navn" required>
                        </div>
                        <button type="submit" class="btn btn-success">Opret menu</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-8">
            <div class="panel panel-default" ng-repeat="menu in vm.menus | orderBy:name">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">{{menu.name}}</h3>
                    <div class="pull-right">
                        <a ui-sref=".id.edit({id: menu.id})" class="btn btn-warning">Redigér</a>
                        <a ui-sref=".id.delete({id: menu.id})" class="btn btn-danger">Slet</a>
                    </div>
                </div>
                <div class="panel-body">
                    ...
                </div>
                <table class="table">
                    <thead>
                        <th>Retter</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dish in menu.dishes | orderBy:name">
                            <td>{{dish.name}}
                                <button type="submit" ng-click="vm.deleteDishFromMenu(menu.id, dish.id)" class="pull-right btn btn-warning">Fjern fra menu
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>