<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form name="dashboardLoginForm" ng-submit="dashboardLoginForm.$valid && vm.dashboardLogin(vm.loginData)" novalidate autocomplete="off">
                    <div class="form-group">
                        <label for="username">Brugernavn</label>
                        <input ng-model="vm.loginData.username" type="username" class="form-control" id="username" placeholder="Indtast dit brugernavn" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input ng-model="vm.loginData.password" type="password" class="form-control" id="password" placeholder="Indtast dit password" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
