<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default" ng-repeat="menu in vm.menus | orderBy:name">
            <div class="panel-heading">
                <h3 class="panel-title">{{menu.name}}</h3>
            </div>
            <table class="table">
                <tbody>
                <tr ng-repeat="dish in menu.dishes | orderBy:name">
                    <td>{{dish.name}}
                        <button type="submit" ng-show="dish.active" ng-click="vm.deactivateDish(dish.id)" class="pull-right btn btn-warning">Deaktivér</button>
                        <button type="submit" ng-show="!dish.active" ng-click="vm.activateDish(dish.id)" class="pull-right btn btn-success">Aktivér</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

