<div class="panel panel-default" ng-repeat="menu in vm.menus" ng-show="menu.dishes.length">
    <div class="panel-heading">
        <h3 class="panel-title">{{menu.name}}</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-default" ng-repeat="dish in menu.dishes">
            <div class="panel-heading">
                <h3 class="panel-title">{{dish.name}}</h3>
            </div>
            <div class="panel-body">
                <div class="well clearfix" ng-show="vm.getActiveOrder()">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success" ng-click="vm.addDishToOrder(dish)">Tilføj til ordre</button>
                    </div>
                </div>
                <dish-info menu="menu" dish="dish"></dish-info>
            </div>
        </div>
    </div>
</div>