<div class="row" ng-repeat="session in vm.sessions | filter: {active: true}">
    <div class="col-md-4">
        <order ng-repeat="order in session.orders | filter: {committed: true, confirmed: false}" sessionId="session.id" order="order"></order>
    </div>
    <div class="col-md-4">
        <order ng-repeat="order in session.orders | filter: {confirmed: true, completed: false}" sessionId="session.id" order="order"></order>
    </div>
    <div class="col-md-4">
        <order ng-repeat="order in session.orders | filter: {completed: true, closed: false}" sessionId="session.id" order="order"></order>
    </div>
</div>