<div class="row">
    <div class="col-sm-4">
        <kitchen-order ng-repeat="order in vm.orders | filter: { session: { active: true }, order: { committed: true } }" order="order.order" session="order.session"></kitchen-order>
        <kitchen-order ng-repeat="order in vm.orders | filter: { session: { active: true }, order: { pristine: true } }" order="order.order" session="order.session"></kitchen-order>
    </div>
    <div class="col-sm-4">
        <kitchen-order class="action" ng-repeat="order in vm.orders | filter: { session: { active: true }, order: { begun: true } }" order="order.order" session="order.session"></kitchen-order>
        <kitchen-order class="action" ng-repeat="order in vm.orders | filter: { session: { active: true }, order: { confirmed: true } }" order="order.order" session="order.session"></kitchen-order>
    </div>
    <div class="col-sm-4">
        <kitchen-order ng-repeat="order in vm.orders | filter: { session: { active: true }, order: { closed: true } }" order="order.order" session="order.session"></kitchen-order>
        <kitchen-order ng-repeat="order in vm.orders | filter: { session: { active: true }, order: { served: true } }" order="order.order" session="order.session"></kitchen-order>
        <kitchen-order ng-repeat="order in vm.orders | filter: { session: { active: true }, order: { completed: true } }" order="order.order" session="order.session"></kitchen-order>
    </div>
</div>
