<div class="form-group">
    <label for="username">Brugernavn</label>
    <input ng-model="vm.loginData.username" type="text" class="form-control" id="username" name="username" placeholder="Indtast dit brugernavn" required>
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input ng-model="vm.loginData.password" type="password" class="form-control" id="password" name="password" placeholder="Indtast dit password" required>
</div>
<button type="submit" class="btn btn-success">Log ind</button>