<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Ordre fra {{vm.order.createdOn | date: 'HH:mm:ss'}}
            <order-labels></order-labels>
        </h3>
    </div>
    <div class="panel-body">
        <div class="well clearfix"  ng-show="vm.order.confirmed">
            <button type="submit" class="pull-left btn btn-info" ng-click="vm.rejectOrder(vm.session._id, vm.order._id)">Afvis ordre</button>
            <button type="submit" class="pull-right btn btn-success" ng-click="vm.beginOrder(vm.session._id, vm.order._id)">Begynd ordre</button>
        </div>
        <div class="well clearfix" ng-show="vm.order.begun">
            <button type="submit" class="pull-left btn btn-default" ng-click="vm.stopOrder(vm.session._id, vm.order._id)">Stop forbereldese</button>
            <button type="submit" class="pull-right btn btn-success" ng-click="vm.completeOrder(vm.session._id, vm.order._id)">Færdiggør ordre</button>
        </div>
        <div class="list-group" ng-show="vm.order.dishes">
            <div class="list-group-item" ng-repeat="dish in vm.order.dishes">
                {{dish.name}}
            </div>
        </div>
    </div>
</div>