<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default" ng-repeat="session in vm.sessions | filter: {active: true}">
        <div class="panel-heading">
            <h3 class="panel-title">
                <h3 class="panel-title clearfix">
                    <strong>{{session.customer.name}}</strong> (bord {{session.table}})
                    <strong class="pull-right">{{session.key}}</strong>
                </h3>
            </h3>
        </div>
        <div class="panel-body">
            <cashregister-order ng-repeat="order in session.orders | filter: { served : true }" order="order" session-id="session._id"></cashregister-order>
        </div>
    </div>
</div>