@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

@import "../modules/colors";
@import "../modules/functions";
@import "../modules/mixins";

body {
  font-family: 'PT Sans', sans-serif;
}

#page {
  //padding: 20px 0;
}

ul {
  padding: 0 0 0 30px;
}

h1 {
  font-weight: 700;
}

img {
  max-width: 100%;
  display: block;
}

alert {
  &.ng-enter {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
  }
}

header {
  padding: 20px 0;
  #logo {
    margin: 0 auto;
    width: 100px;
  }
}

.label {
  &.pristine {
    background-color: $pristine;
  }
  &.committed {
    background-color: $committed;
  }
  &.confirmed {
    background-color: $confirmed;
  }
  &.begun {
    background-color: $begun;
  }
  &.completed {
    background-color: $completed;
  }
  &.served {
    background-color: $served;
  }
  &.closed {
    background-color: $closed;
  }
}

.navbar-default {
  a {
    color: $white!important;

  }
  .menucard & {
    background: $green;
    border-color: $dark-green;
    .navbar-nav {
      a:hover,
      a:focus,
      a:active,
      .active a {
        background: $dark-green !important;
      }
    }
    .btn-default {
      background: lighten($green, 10%);
      border-color: lighten($dark-green, 10%);
      color: $white;
      &:hover {
        background: $dark-green;
      }
    }
  }

  .floor & {
    background: $blue;
    border-color: $dark-blue;
    .navbar-nav {
      a:hover,
      a:focus,
      a:active,
      .active a {
        background: $dark-blue !important;
      }
    }
    .btn-default {
      background: lighten($blue, 10%);
      border-color: lighten($dark-blue, 10%);
      color: $white;
      &:hover {
        background: $dark-blue;
      }
    }
  }

  .kitchen & {
    background: $orange;
    border-color: $dark-orange;
    .navbar-nav {
      a:hover,
      a:focus,
      a:active,
      .active a {
        background: $dark-orange !important;
      }
    }
    .btn-default {
      background: lighten($orange, 10%);
      border-color: lighten($dark-orange, 10%);
      color: $white;
      &:hover {
        background: $dark-orange;
      }
    }
  }

  .cashregister & {
    background: $purple;
    border-color: $dark-purple;
    .navbar-nav {
      a:hover,
      a:focus,
      a:active,
      .active a {
        background: $dark-purple !important;
      }
    }
    .btn-default {
      background: lighten($purple, 10%);
      border-color: lighten($dark-purple, 10%);
      color: $white;
      &:hover {
        background: $dark-purple;
      }
    }
  }

  .dashboard & {
    background: $red;
    border-color: $dark-red;
    .navbar-nav {
      a:hover,
      a:focus,
      a:active,
      .active a {
        background: $dark-red !important;
      }
    }
    .btn-default {
      background: lighten($red, 10%);
      border-color: lighten($dark-red, 10%);
      color: $white;
      &:hover {
        background: $dark-red;
      }
    }
  }

}

